---
http_interactions:
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/ec2/linux-ri-light.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 02 Jun 2015 18:18:40 GMT
      etag:
      - '"58943512421bfb34457aa25fd381d808"'
    body:
      encoding: UTF-8
      string: |-
        {
          "config": {
            "currencies": [
              "USD"
            ],
            "regions": [
              {
                "instanceTypes": [
                  {
                    "sizes": [
                      {
                        "size": "t2.micro",
                        "valueColumns": [
                          {
                            "name": "yrTerm1",
                            "prices": {
                              "USD": "N/A"
                            }
                          },
                          {
                            "name": "yrTerm1Hourly",
                            "rate": "perhr",
                            "prices": {
                              "USD": "N/A"
                            }
                          },
                          {
                            "name": "yrTerm3",
                            "prices": {
                              "USD": "N/A"
                            }
                          },
                          {
                            "name": "yrTerm3Hourly",
                            "rate": "perhr",
     [...]
