---
http_interactions:
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/ec2/sles-ri-light.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 13 Mar 2014 05:26:39 GMT
      etag:
      - ! '"037126fd46b6a04a44ae826ab1d555d1"'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"vers\": 0.01,\n  \"config\": {\n    \"regions\": [\n      {\n
        \       \"instanceTypes\": [\n          {\n            \"sizes\": [\n              {\n
        \               \"valueColumns\": [\n                  {\n                    \"name\":
        \"yrTerm1\",\n                    \"prices\": {\n                      \"USD\":
        \"310\"\n                    }\n                  },\n                  {\n
        \                   \"name\": \"yrTerm1Hourly\",\n                    \"rate\":
        \"perhr\",\n                    \"prices\": {\n                      \"USD\":
        \"0.164\"\n                    }\n                  },\n                  {\n
        \                   \"name\": \"yrTerm3\",\n                    \"prices\":
        {\n                      \"USD\": \"572\"\n                    }\n                  },\n
        \                 {\n                    \"name\": \"yrTerm3Hourly\",\n                    \"rate\":
        \"perhr\",\n                    \"prices\": {\n                      \"USD\":
        \"0.15\"\n                    }\n                  }\n                ],\n
        \               \"size\": \"m3.medium\"\n              },\n              {\n
        \               \"valueColumns\": [\n                  {\n                    \"name\":
        \"yrTerm1\",\n                    \"prices\": {\n                      \"USD\":
        \"420\"\n                    }\n                  },\n                  {\n
        \                   \"name\": \"yrTerm1Hourly\",\n                    \"rate\":
        \"perhr\",\n                    \"prices\": {\n                      \"USD\":
      [...]
