---
http_interactions:
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/ec2/linux-ri-light.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 13 Mar 2014 05:26:40 GMT
      etag:
      - ! '"2b01f25945dffd23d6edd6b0fcee56fc"'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"vers\": 0.01,\n  \"config\": {\n    \"regions\": [\n      {\n
        \       \"instanceTypes\": [\n          {\n            \"sizes\": [\n              {\n
        \               \"valueColumns\": [\n                  {\n                    \"name\":
        \"yrTerm1\",\n                    \"prices\": {\n                      \"USD\":
        \"110\"\n                    }\n                  },\n                  {\n
        \                   \"name\": \"yrTerm1Hourly\",\n                    \"rate\":
        \"perhr\",\n                    \"prices\": {\n                      \"USD\":
        \"0.064\"\n                    }\n                  },\n                  {\n
        \                   \"name\": \"yrTerm3\",\n                    \"prices\":
        {\n                      \"USD\": \"172\"\n                    }\n                  },\n
        \                 {\n                    \"name\": \"yrTerm3Hourly\",\n                    \"rate\":
        \"perhr\",\n                    \"prices\": {\n                      \"USD\":
        \"0.05\"\n                    }\n                  }\n                ],\n
        \               \"size\": \"m3.medium\"\n              },\n              {\n
        \               \"valueColumns\": [\n                  {\n                    \"name\":
        \"yrTerm1\",\n                    \"prices\": {\n                      \"USD\":
        \"220\"\n                    }\n                  },\n                  {\n
        \                   \"name\": \"yrTerm1Hourly\",\n                    \"rate\":
        \"perhr\",\n                    \"prices\": {\n                      \"USD\":
      [...]
