---
http_interactions:
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/ec2/mswin-ri-light.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 13 Mar 2014 05:27:12 GMT
      etag:
      - ! '"05d56f0000e0e6e08b9766f20be7ecb0"'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"vers\": 0.01,\n  \"config\": {\n    \"regions\": [\n      {\n
        \       \"instanceTypes\": [\n          {\n            \"sizes\": [\n              {\n
        \               \"valueColumns\": [\n                  {\n                    \"name\":
        \"yrTerm1\",\n                    \"prices\": {\n                      \"USD\":
        \"129\"\n                    }\n                  },\n                  {\n
        \                   \"name\": \"yrTerm1Hourly\",\n                    \"rate\":
        \"perhr\",\n                    \"prices\": {\n                      \"USD\":
        \"0.107\"\n                    }\n                  },\n                  {\n
        \                   \"name\": \"yrTerm3\",\n                    \"prices\":
        {\n                      \"USD\": \"199\"\n                    }\n                  },\n
        \                 {\n                    \"name\": \"yrTerm3Hourly\",\n                    \"rate\":
        \"perhr\",\n                    \"prices\": {\n                      \"USD\":
        \"0.092\"\n                    }\n                  }\n                ],\n
        \               \"size\": \"m3.medium\"\n              },\n              {\n
        \               \"valueColumns\": [\n                  {\n                    \"name\":
        \"yrTerm1\",\n                    \"prices\": {\n                      \"USD\":
        \"258\"\n                    }\n                  },\n                  {\n
        \                   \"name\": \"yrTerm1Hourly\",\n                    \"rate\":
        \"perhr\",\n                    \"prices\": {\n                      \"USD\":
      [...]
