---
http_interactions:
- request:
    method: get
    uri: http://aws.amazon.com/elasticmapreduce/pricing/pricing-emr.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 141M52QPN01MX31FMV29
      location:
      - "/elasticmapreduce/pricing/pricing-emr.json/"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Jul 2015 05:31:19 GMT
- request:
    method: get
    uri: http://aws.amazon.com/elasticmapreduce/pricing/pricing-emr.json/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 13CZYR60JSSF9SX1RCQ0
      location:
      - https://a0.awsstatic.com/pricing/1/deprecated/emr/pricing-emr.json
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Jul 2015 05:31:21 GMT
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/emr/pricing-emr.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Fri, 26 Jun 2015 06:11:27 GMT
      etag:
      - '"dfe183ca9a820fbd34aea98deaf814c7"'
    body:
      encoding: UTF-8
      string: |
        {
          "vers": 0.01,
          "config": {
            "rate": "perhr",
            "currencies": [
              "USD"
            ],
            "regions": [
              {
                "region": "us-east",
                "footnotes": {
                },
                "instanceTypes": [
                  {
                    "type": "General Purpose  - Current Generation",
                    "sizes": [
                      {
                        "size": "m3.xlarge",
                        "valueColumns": [
                          {
                            "name": "ec2",
                            "prices": {
                              "USD": "0.280"
                            }
                          },
                          {
                            "name": "emr",
                            "prices": {
                              "USD": "0.070"
                            }
                          }
                        ]
                      },
                      {
                        "size": "m3.2xlarge",
                        "valueColumns": [
                          {
                           [...]
