---
http_interactions:
- request:
    method: get
    uri: http://aws.amazon.com/elasticmapreduce/pricing/pricing-emr.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 0EDCJEGJ3VBH3C4AYVHD
      location:
      - /elasticmapreduce/pricing/pricing-emr.json/
      content-type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 20 May 2014 17:15:44 GMT
- request:
    method: get
    uri: http://aws.amazon.com/elasticmapreduce/pricing/pricing-emr.json/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 1H4R4FR1CPBAJA74VMV3
      location:
      - https://a0.awsstatic.com/pricing/1/deprecated/emr/pricing-emr.json
      content-type:
      - text/html;charset=UTF-8
      content-language:
      - en-US
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 20 May 2014 17:15:45 GMT
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/emr/pricing-emr.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Tue, 20 May 2014 01:14:08 GMT
      etag:
      - ! '"b6214fbd307d9787d256826cf4dc9fbb"'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"vers\": 0.01,\n  \"config\": {\n    \"rate\": \"perhr\",\n
        \   \"currencies\": [\n      \"USD\"\n    ],\n    \"regions\": [\n      {\n
        \       \"region\": \"us-east\",\n        \"footnotes\": {\n        },\n        \"instanceTypes\":
        [\n          {\n            \"type\": \"General Purpose  - Current Generation\",\n
        \           \"sizes\": [\n              {\n                \"size\": \"m3.xlarge\",\n
        \               \"valueColumns\": [\n                  {\n                    \"name\":
        \"ec2\",\n                    \"prices\": {\n                      \"USD\":
        \"0.280\"\n                    }\n                  },\n                  {\n
        \                   \"name\": \"emr\",\n                    \"prices\": {\n
        \                     \"USD\": \"0.070\"\n                    }\n                  }\n
        \               ]\n              },\n              {\n                \"size\":
        \"m3.2xlarge\",\n                \"valueColumns\": [\n                  {\n
        \                   \"name\": \"ec2\",\n              [...]
