---
http_interactions:
- request:
    method: get
    uri: http://aws.amazon.com/s3/pricing/pricing-data-transfer.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 1KETQM5EPM5M10742THD
      location:
      - "/s3/pricing/pricing-data-transfer.json/"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jun 2015 01:58:27 GMT
- request:
    method: get
    uri: http://aws.amazon.com/s3/pricing/pricing-data-transfer.json/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 1EFA4GJ6N75WND21PYM4
      location:
      - https://a0.awsstatic.com/pricing/1/deprecated/s3/pricing-data-transfer-s3.json
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jun 2015 01:58:28 GMT
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/s3/pricing-data-transfer-s3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 02 Jun 2015 18:17:37 GMT
      etag:
      - '"4108057f2908b76a75d03f924a061aaa"'
    body:
      encoding: UTF-8
      string: |
        {
          "vers": 0.01,
          "config": {
            "currencies": [
              "USD"
            ],
            "valueColumns": [
              "pricing"
            ],
            "rate": "perGB",
            "regions": [
              {
                "region": "us-std",
                "types": [
                  {
                    "name": "dataXferInS3",
                    "tiers": [
                      {
                        "name": "allDataXferIn",
                        "prices": {
                          "USD": "0.000"
                        }
                      }
                    ]
                  },
                  {
                    "name": "dataXferOutS3CrossRegion",
                    "tiers": [
                      {
                        "name": "inRegionUSStandard",
                        "prices": {
                          "USD": "0.000"
                        }
                      },
                      {
                        "name": "crossRegion",
              [...]
