---
http_interactions:
- request:
    method: get
    uri: http://aws.amazon.com/ec2/pricing/pricing-elastic-ips.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 1TDQCBW8CHADJ5PQS91Z
      location:
      - /ec2/pricing/pricing-elastic-ips.json/
      content-type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 22 Mar 2014 23:41:33 GMT
- request:
    method: get
    uri: http://aws.amazon.com/ec2/pricing/pricing-elastic-ips.json/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 1Z3MEHBEPZ8HYZQHPAT8
      location:
      - https://a0.awsstatic.com/pricing/1/deprecated/ec2/pricing-elastic-ips.json
      content-type:
      - text/html;charset=UTF-8
      content-language:
      - en-US
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 22 Mar 2014 23:41:34 GMT
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/ec2/pricing-elastic-ips.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 13 Mar 2014 05:27:08 GMT
      etag:
      - ! '"89224941c6de47b6a122b4684a5fbe63"'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"vers\": 0.01,\n  \"config\": {\n    \"currencies\": [\n      \"USD\"\n
        \   ],\n    \"rate\": \"perGB\",\n    \"regions\": [\n      {\n        \"region\":
        \"us-east\",\n        \"types\": [\n          {\n            \"values\": [\n
        \             {\n                \"prices\": {\n                  \"USD\":
        \"0.00\"\n                },\n                \"rate\": \"oneEIP\"\n              },\n
        \             {\n                \"prices\": {\n                  \"USD\":
        \"0.005\"\n                },\n                \"rate\": \"perAdditionalEIPPerHour\"\n
        \             },\n              {\n                \"prices\": {\n                  \"USD\":
        \"0.005\"\n                },\n                \"rate\": \"perNonAttachedPerHour\"\n
        \             },\n      [...]
