---
http_interactions:
- request:
    method: get
    uri: http://aws.amazon.com/ec2/pricing/pricing-elb.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 1H2VWXWH4ZF181HZ9JT6
      location:
      - "/ec2/pricing/pricing-elb.json/"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jun 2015 01:57:54 GMT
- request:
    method: get
    uri: http://aws.amazon.com/ec2/pricing/pricing-elb.json/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 0DM3JZHZD8J5WFBW09RJ
      location:
      - https://a0.awsstatic.com/pricing/1/deprecated/ec2/pricing-elb.json
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jun 2015 01:57:55 GMT
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/ec2/pricing-elb.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 02 Jun 2015 18:19:42 GMT
      etag:
      - '"b31e15f88f151a4de33b8306fa284115"'
    body:
      encoding: UTF-8
      string: |
        {
          "vers": 0.01,
          "config": {
            "currencies": [
              "USD"
            ],
            "rate": "perInstanceHour@1min",
            "regions": [
              {
                "region": "us-east",
                "types": [
                  {
                    "values": [
                      {
                        "prices": {
                          "USD": "0.025"
                        },
                        "rate": "perELBHour"
                      },
                      {
                        "prices": {
                          "USD": "0.008"
                        },
                        "rate": "perGBProcessed"
                      }
                    ]
                  }
                ]
              },
              {
                "region": "us-west-2",
                "types": [
                  {
              [...]
