---
http_interactions:
- request:
    method: get
    uri: http://aws.amazon.com/s3/pricing/pricing-storage.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 0FQV9AD47ZXTYZ3R4RDK
      location:
      - "/s3/pricing/pricing-storage.json/"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jun 2015 01:58:33 GMT
- request:
    method: get
    uri: http://aws.amazon.com/s3/pricing/pricing-storage.json/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 1HCX0DET0BJ4V9QAMQZM
      location:
      - https://a0.awsstatic.com/pricing/1/deprecated/s3/pricing-storage-s3.json
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jun 2015 01:58:34 GMT
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/s3/pricing-storage-s3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 02 Jun 2015 18:17:36 GMT
      etag:
      - '"d08ac9d2c88529739454d8b51c6964a9"'
    body:
      encoding: UTF-8
      string: |
        {
          "vers": 0.01,
          "config": {
            "currencies": [
              "USD"
            ],
            "rate": "perGB",
            "valueColumns": [
              "storage",
              "reducedRedundancyStorage",
              "glacierStorage"
            ],
            "footnotes": {
              "&dagger;": "designed109Durable",
              "&Dagger;": "designed49sDurable"
            },
            "regions": [
              {
                "region": "us-std",
                "tiers": [
                  {
                    "name": "firstTBstorage",
                    "storageTypes": [
                      {
                        "type": "storage",
                        "prices": {
                          "USD": "0.0300"
                        }
                      },
                      {
                        "type": "reducedRedundancyStorage",
                        "prices": {
                          "USD": "0.0240"
                        }
                      },
                      {
                        "type": "glacierStorage",
                        "prices": {
                          "USD": "0.0100"
                        }
                      }
                    ]
  [...]
