---
http_interactions:
- request:
    method: get
    uri: http://aws.amazon.com/ec2/pricing/pricing-ebs.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 1G83XFZ9VK0EATPFC1JP
      location:
      - "/ec2/pricing/pricing-ebs.json/"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jun 2015 01:57:49 GMT
- request:
    method: get
    uri: http://aws.amazon.com/ec2/pricing/pricing-ebs.json/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 0RCDPVQ9Q9WRYERF4Z40
      location:
      - https://a0.awsstatic.com/pricing/1/deprecated/ec2/pricing-ebs.json
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jun 2015 01:57:50 GMT
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/ec2/pricing-ebs.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 02 Jun 2015 18:18:37 GMT
      etag:
      - '"6f4b59589b73522bc076a8fa9b2290ce"'
    body:
      encoding: UTF-8
      string: |
        {
          "vers": 0.01,
          "config": {
            "currencies": [
              "USD"
            ],
            "rate": "perGB",
            "regions": [
              {
                "region": "us-east",
                "types": [
                  {
                    "name": "ebsVols",
                    "values": [
                      {
                        "prices": {
                          "USD": "0.10"
                        },
                        "rate": "perGBmoProvStorage"
                      },
                      {
                        "prices": {
                          "USD": "0.10"
                        },
                        "rate": "perMMIOreq"
                      }
                    ]
                  },
                  {
                    "name": "ebsPIOPSVols",
                    "values": [
                      {
                        "pri[...]
