---
http_interactions:
- request:
    method: get
    uri: http://aws.amazon.com/s3/pricing/pricing-requests.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 0PHZMV903JWX4NKE710Z
      location:
      - "/s3/pricing/pricing-requests.json/"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jun 2015 01:58:30 GMT
- request:
    method: get
    uri: http://aws.amazon.com/s3/pricing/pricing-requests.json/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 1KA9W0768FPJ74P4AA0F
      location:
      - https://a0.awsstatic.com/pricing/1/deprecated/s3/pricing-requests-s3.json
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jun 2015 01:58:31 GMT
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/s3/pricing-requests-s3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 02 Jun 2015 18:17:37 GMT
      etag:
      - '"9c2dacdcf17abf6cb7883f6e7c1738c0"'
    body:
      encoding: UTF-8
      string: |
        {
          "vers": 0.01,
          "config": {
            "currencies": [
              "USD"
            ],
            "valueColumns": [
              "pricing"
            ],
            "regions": [
              {
                "region": "us-std",
                "footnotes": {
                  "&dagger;": "chargesForGlacierDeletes03",
                  "&Dagger;": "glacierNotes01"
                },
                "tiers": [
                  {
                    "name": "putcopypost",
                    "prices": {
                      "USD": "0.005"
                    },
                    "rate": "per1kReq"
                  },
                  {
                    "name": "glacierRequests",
                    "prices": {
                      "USD": "0.05"
                    },
                    "rate": "per1kReq"
                  },
                  {
                    "name": "deleteRequests",
                    "prices": {
                      "USD": "Free &dagger;"
                    },
                    "rate": "per1kReq"
                  },
                  {
   [...]
