---
http_interactions:
- request:
    method: get
    uri: http://aws.amazon.com/ec2/pricing/pricing-elastic-ips.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 0Y0E1T6ZFH91Z0M1QX0Q
      location:
      - "/ec2/pricing/pricing-elastic-ips.json/"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jun 2015 01:57:51 GMT
- request:
    method: get
    uri: http://aws.amazon.com/ec2/pricing/pricing-elastic-ips.json/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      x-amz-id-1:
      - 0M8901Q40G9VBQ4GDJSA
      location:
      - https://a0.awsstatic.com/pricing/1/deprecated/ec2/pricing-elastic-ips.json
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jun 2015 01:57:52 GMT
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/ec2/pricing-elastic-ips.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 02 Jun 2015 18:19:19 GMT
      etag:
      - '"b57b66396a64a77a81313ce3b69fd124"'
    body:
      encoding: UTF-8
      string: |
        {
          "vers": 0.01,
          "config": {
            "currencies": [
              "USD"
            ],
            "rate": "perGB",
            "regions": [
              {
                "region": "us-east",
                "types": [
                  {
                    "values": [
                      {
                        "prices": {
                          "USD": "0.00"
                        },
                        "rate": "oneEIP"
                      },
                      {
                        "prices": {
                          "USD": "0.005"
                        },
                        "rate": "perAdditionalEIPPerHour"
                      },
                      {
                        "prices": {
                          "USD": "0.005"
                        },
                        "rate": "perNonAttachedPerHour"
    [...]
