---
http_interactions:
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/ec2/mswinSQL-od.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 13 Mar 2014 05:27:18 GMT
      etag:
      - ! '"23d153a7c3bbb1b61a26632dcf7fb404"'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"vers\": 0.01,\n  \"config\": {\n    \"rate\": \"perhr\",\n
        \   \"valueColumns\": [\n      \"vCPU\",\n      \"ECU\",\n      \"memoryGiB\",\n
        \     \"storageGB\",\n      \"mswinSQL\"\n    ],\n    \"currencies\": [\n
        \     \"USD\"\n    ],\n    \"regions\": [\n      {\n        \"region\": \"us-east\",\n
        \       \"instanceTypes\": [\n          {\n            \"type\": \"generalCurrentGen\",\n
        \           \"sizes\": [\n              {\n                \"size\": \"m3.medium\",\n
        \               \"vCPU\": \"1\",\n                \"ECU\": \"3\",\n                \"memoryGiB\":
        \"3.75\",\n                \"storageGB\": \"1 x 4 SSD\",\n                \"valueColumns\":
        [\n                  {\n                    \"name\": \"mswinSQL\",\n                    \"prices\":
        {\n                      \"USD\": \"0.356\"\n                    }\n                  }\n
        \               ]\n              },\n              {\n                \"size\":
        \"m3.large\",\n                \"vCPU\": \"2\",\n                \"ECU\":
        \"6.5\",\n                \"memoryGiB\": \"7.5\",\n                \"storageGB\":
        \"1 x 32 SSD\",\n                \"valueColumns\": [\n                  {\n
        \                   \"name\": \"mswinSQL\",\n                    \"prices\":
        {\n   [...]
