---
http_interactions:
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/ec2/linux-od.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 02 Jun 2015 18:19:43 GMT
      etag:
      - '"90d3b248134d06880ecd081b3672d0bb"'
    body:
      encoding: UTF-8
      string: |-
        {
          "vers": 0.01,
          "config": {
            "rate": "perhr",
            "valueColumns": [
              "vCPU",
              "ECU",
              "memoryGiB",
              "storageGB",
              "linux"
            ],
            "currencies": [
              "USD"
            ],
            "regions": [
              {
                "region": "us-east-1",
                "instanceTypes": [
                  {
                    "type": "generalCurrentGen",
                    "sizes": [
                      {
                        "size": "t2.micro",
                        "vCPU": "1",
                        "ECU": "variable",
                        "memoryGiB": "1",
                        "storageGB": "ebsonly",
                        "valueColumns": [
                          {
                            "name": "linux",
                            "prices": {
                              "USD": "0.013"
                            }
                          }
                        ]
                      },
                      {
                        "size": "t2.small",
                        "vCPU": "1",
                        "ECU": "variable",
                        "memoryGiB": "2",
                        "storageGB": "ebsonly",
                        "valueColumns": [
                          {
                            "name": "linux",
                            "[...]
