---
http_interactions:
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/ec2/sles-od.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 02 Jun 2015 18:18:38 GMT
      etag:
      - '"942838c7893e32804c137ceac6b88249"'
    body:
      encoding: UTF-8
      string: |-
        {
          "vers": 0.01,
          "config": {
            "rate": "perhr",
            "valueColumns": [
              "vCPU",
              "ECU",
              "memoryGiB",
              "storageGB",
              "sles"
            ],
            "currencies": [
              "USD"
            ],
            "regions": [
              {
                "region": "us-east-1",
                "instanceTypes": [
                  {
                    "type": "generalCurrentGen",
                    "sizes": [
                      {
                        "size": "t2.micro",
                        "vCPU": "1",
                        "ECU": "variable",
                        "memoryGiB": "1",
                        "storageGB": "ebsonly",
                        "valueColumns": [
                          {
                            "name": "sles",
                            "prices": {
                              "USD": "0.023"
                            }
                          }
                        ]
                      },
                      {
                        "size": "t2.small",
                        "vCPU": "1",
                        "ECU": "variable",
                        "memoryGiB": "2",
                        "storageGB": "ebsonly",
                        "valueColumns": [
                          {
                            "name": "sles",
                            "p[...]
