---
http_interactions:
- request:
    method: get
    uri: https://a0.awsstatic.com/pricing/1/deprecated/ec2/mswinSQL-od.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 02 Jun 2015 18:18:40 GMT
      etag:
      - '"e87b78644d6962a54b44d83c547933ba"'
    body:
      encoding: UTF-8
      string: |-
        {
          "vers": 0.01,
          "config": {
            "rate": "perhr",
            "valueColumns": [
              "vCPU",
              "ECU",
              "memoryGiB",
              "storageGB",
              "mswinSQL"
            ],
            "currencies": [
              "USD"
            ],
            "regions": [
              {
                "region": "us-east-1",
                "instanceTypes": [
                  {
                    "type": "generalCurrentGen",
                    "sizes": [
                      {
                        "size": "m3.medium",
                        "vCPU": "1",
                        "ECU": "3",
                        "memoryGiB": "3.75",
                        "storageGB": "1 x 4 SSD",
                        "valueColumns": [
                          {
                            "name": "mswinSQL",
                            "prices": {
                              "USD": "0.356"
                            }
                          }
                        ]
                      },
                      {
                        "size": "m3.large",
                        "vCPU": "2",
                        "ECU": "6.5",
                        "memoryGiB": "7.5",
                        "storageGB": "1 x 32 SSD",
                        "valueColumns": [
                          {
                            "name": "mswinSQL",
                          [...]
